<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
</head>
<body>
    <body>
        <h1>Checking</h1>
        <% console.log('This is my data ' + JSON.parse(data)[0].downloadURL); %>
        
    

</body>