<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
</head>
<body>
<a class="nav-link my-md-2 my-1" href="/">Home</a>
<% for(var i = 0; i < rawdata.length; i++) { %>
    <img src=<%= JSON.parse(data)[i].downloadURL %> width="480" height="270"></img>
    <%= JSON.parse(data)[i].labels %>
    <%= JSON.parse(data)[i].location.latitude %>
    <%= JSON.parse(data)[i].location.longitude %>
<% } %>

</body>